<ion-header class="ion-no-border"> 
  <ion-toolbar> 
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/"></ion-back-button> 
    </ion-buttons> 
  </ion-toolbar> 
</ion-header> 

<ion-content>
  <ion-grid *ngIf="data?.name">
    <ion-row class="dashedBorderBottom">
      <ion-label>
        <h1>{{data?.name}}</h1>
        <ion-text *ngIf="data?.cuisines">
          <p>{{getCuisine(data.cuisines)}}</p>
        </ion-text>
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label class="ion-text-center">
          <ion-text>
            <p>
              <ion-icon name="star">
                {{data?.rating}}
              </ion-icon>
            </p>
            <p>
              Avaliação
            </p>
          </ion-text>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label class="ion-text-center">
          <ion-text>
            <p>
              R$: {{data?.price}}
            </p>
            <p>
              Valor para dois
            </p>
          </ion-text>
        </ion-label>
      </ion-col>
      <ion-col size="4"><ion-label class="ion-text-center">
        <ion-text>
          <p>
            {{data?.delivery_time}} min
          </p>
          <p>
            Entrega
          </p>
        </ion-text>
      </ion-label></ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="ion-padding veg"> 
    <ion-label> 
      <h4>Somente Vegano</h4> 
    </ion-label> 
    <ion-toggle mode="md" color="success" (ionChange)="vegOnly($event)" [(ngModel)]="veg"></ion-toggle> 
  </ion-row> 

  <ion-row lines="none" *ngFor="let category of categories">
    <ion-list-header>
      {{category?.name}}
    </ion-list-header>
    <ng-container *ngFor="let item of items; let i = index">
      <ion-item *ngIf="category.id == item.category_id">
        <ion-thumbnail slot="start"><img [src]="item?.cover"/></ion-thumbnail>
        <ion-label>
          <h4>{{item?.name}}</h4>
          <p class="ion-text-wrap">{{item?.desc}}</p>
          <ion-text><p>R$: {{item.price}}</p></ion-text>
        </ion-label>
        <ion-row *ngIf="!item?.quantity || item?.quantity <= 0" (click)="quantityPlus(item, i)">
          <ion-text class="ion-padding-horizontal" color="success">Adicionar</ion-text>
        </ion-row>
        <ion-row *ngIf="item?.quantity > 0" >
          <ion-icon color="success" name="remove-outline" (click)="quantityMinus(item, i)"></ion-icon>
          <ion-text class="ion-padding-horizontal quantity" color="sucess">{{item.quantity}}</ion-text>
          <ion-icon color="success" name="add-outline" (click)="quantityPlus(item, i)"></ion-icon>
        </ion-row>
      </ion-item>
    </ng-container>
  </ion-row>
</ion-content>
<ion-footer *ngIf="cartData?.totalItem > 0">
  <ion-toolbar color="success">
    <ion-label color="light">
      <ion-text >
      <h4>{{cartData?.totalItem}} Item <span *ngIf="cartData?.totalItem > 1"></span></h4>
      <h4>{{cartData?.totalPrice}} Total </h4>
        Taxas estras podem ser incluídas
      </ion-text>
    </ion-label>
    <ion-button slot="end" fill="clear" (click)="viewCart()">
      <ion-icon slot="end" name="basket-outline">
      </ion-icon>
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>
