ion-item{
  font-size: 0.8rem;
  ion-thumbnail{
    height: 16vh;
    width: 25vw;
    img{
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }
    h4{
      font-size: 1rem;
    }
  }
}
